@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$text-color: #afafaf; 
$btn-color: #3cc395;
$text-color-secondary: #ffffff;
$menu-color: #4ccfc1;
$border-color: #e1e1e1;

@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin myFont($color: black, $size: 16px) {
    color: $color;
    font-size: $size;
}

body {
    font-family: 'Bebas Neue', cursive;
}

.header {
    height: 84px;

        .logo {
            @include flexAlign;

            img {
                width: 105px;
            }
        }

        .search {
            width: 100%;
            height: 100%;
            @include flexAlign;
            position: relative;

            @media screen and (max-width: 768px) {
                display: none;
            }

                &__input {
                    width:100%;
                    outline: none;
                    border: 1px solid $border-color;
                    height: 30px;
                }

                &__img {
                    position: absolute;
                    right: 10px;
                    width: 20px;
                }
        }

        .cart {
            height: 100%;
            width: 100%;
            @include flexAlign(space-between);
            padding: 0 20px;
            box-sizing: border-box;
            @include myFont($text-color, 33px);

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

            .menu {
                display: none;
                @include flexAlign;
                display: none;

                @media screen and (max-width: 768px) {
                    display: flex;
                }

                &__container {
                    min-width: 40px;
                    height: 40px;
                    border-bottom: 6px;
                    border: 2px solid $btn-color;
                    @include flexAlign;

                    &-line {
                        width: 30px;
                        border-bottom: 2px solid $btn-color;
                        position: relative;
                        transition: .4s;

                        &::after {
                            content: '';
                            width: 30px;
                            border-bottom: 2px solid $btn-color;
                            position: absolute;
                            top: 7px;
                            left: 0px;
                            transition: .4s;
                        }

                        &::before {
                            content: '';
                            width: 30px;
                            border-bottom: 2px solid $btn-color;
                            position: absolute;
                            top: -7px;
                            left: 0px;
                            transition: .4s;
                        }
                    }
                }

                .checkbox {
                    display: none;
                }

            }
        }   

.links {
    background-color: $menu-color;
    @include myFont($text-color-secondary, 21px);
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        display: none;
    }
    
    &__block {
        height: 35px;
        padding: 0 15px;
        box-sizing: border-box;
        @include flexAlign(space-between);

        @media screen and (max-width: 1200px) {
            height: 70px;
            justify-content: center;    
        }

        &-item {
            padding: 4px 20px 0 20px;
            color: $text-color-secondary;
            transition: .4s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.checkbox:checked + .menu__container > .menu__container-line {
    border-color: transparent;

    &::after {
        top: 0;
        transform: rotate(-45deg);
    }

    &::before {
        top: 0;
        transform: rotate(45deg);
    }
}

